{% extends "base.html" %}

{% load static %}
{% load partials %}

{% block content %}
  <div class="container">
    <!-- Scenario Selection Forms -->
    <!-- Content with Filter / Presentation Tab and Charts -->
    <div class="row align-center">
      <div class="col-3">
        <!-- Load Filter Settings -->
        {% startpartial load_settings inline=True %}
        <form method="get"
              action="{% url 'django_comparison_dashboard:load' %}"
              class="d-flex">
          <select class="form-control flex-grow-1"
                  id="load_name"
                  name="name"
                  label="name">
            {% for name in name_list %}<option value="{{ name.name }}">{{ name.name }}</option>{% endfor %}
          </select>
          {% for scenario in scenarios %}<input type="hidden" name="scenario_id" value="{{ scenario }}" />{% endfor %}
          <input type="submit"
                 class="btn btn-primary ml-2"
                 value="Load Filter Settings" />
        </form>
      {% endpartial %}
      <!-- contains Filters in different Tabs -->
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active"
                 id="filters-tab"
                 data-bs-toggle="tab"
                 href="#filters">Scenario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 id="o-a-l-tab"
                 data-bs-toggle="tab"
                 href="#o_a_label">Other</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 id="graph-options-tab"
                 data-bs-toggle="tab"
                 href="#graph_options_tab">Graph</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 id="display-options-tab"
                 data-bs-toggle="tab"
                 href="#display_options_tab">Display</a>
            </li>
          </ul>
        </div>
        <div class="card-body" hx-ext="multi-swap">
          <div class="tab-content">
            <div class="tab-pane active" id="filters" role="tabpanel">
              <!-- General Filter Selection -->
              <h5 class="card-title">General Filters</h5>
              {% startpartial filters inline=True %}
              {% for scenario in scenarios %}<input type="hidden" name="scenario_id" value="{{ scenario }}" />{% endfor %}
              {{ scenario_filter.form.as_p }}
            {% endpartial %}
          </div>
          <div class="tab-pane" id="o_a_label" role="tabpanel">
            <!-- Order/Aggregation- and Unit Settings -->
            <h5 class="card-title">Order, Aggregation and Label Settings</h5>
            {{ order_aggregation_form.as_p }}
            <hr />
            {{ unit_form.as_p }}
            <hr />
            <div id="labels">{{ label_form.as_p }}</div>
            <button type="button"
                    class="btn btn-primary"
                    hx-post="{% url 'django_comparison_dashboard:add_label' %}"
                    hx-include="#labels"
                    hx-target="#labels">Add label</button>
            <button class="close btn btn-primary"
                    aria-label="Remove label"
                    hx-post="{% url 'django_comparison_dashboard:remove_label' %}"
                    hx-include="#labels"
                    hx-target="#labels">Remove label</button>
          </div>
          {% startpartial graph_options inline=True %}
          <div class="tab-pane" id="graph_options_tab" role="tabpanel">
            <!-- General Graph Options -->
            <h5 class="card-title">General Graph Options</h5>
            <form hx-post="{% url 'django_comparison_dashboard:change_chart_type' %}"
                  hx-swap="multi:#graph_options_tab,#display_options_tab"
                  hx-trigger="change">
              {{ chart_type_form.as_p }}
            </form>
            {{ graph_options_form.as_p }}
            <hr />
            <div id="colors">{{ color_form.as_p }}</div>
            <button type="button"
                    class="btn btn-primary"
                    hx-post="{% url 'django_comparison_dashboard:add_color' %}"
                    hx-include="#colors"
                    hx-target="#colors">Add color</button>
            <button class="close btn btn-primary"
                    aria-label="Remove color"
                    hx-post="{% url 'django_comparison_dashboard:remove_color' %}"
                    hx-include="#colors"
                    hx-target="#colors">Remove color</button>
          </div>
        {% endpartial %}
        {% startpartial display_options inline=True %}
        <div class="tab-pane" id="display_options_tab" role="tabpanel">
          <!-- Display Options -->
          <h5 class="card-title">Display Options</h5>
          {{ display_options_form.as_p }}
        </div>
      {% endpartial %}
    </div>
  </div>
</div>
<!-- Save Filter Settings -->
<form method="post"
      id="save_settings"
      hx-swap="innerhtml"
      hx-post="{% url 'django_comparison_dashboard:save' %}"
      hx-include="#filters, #o_a_label, #graph_options_tab, #display_options_tab"
      hx-target="#save_error"
      novalidate
      _="on load hide .alert">
  <div hx-ext='response-targets' class="d-flex">
    <input type="text"
      class="form-control flex-grow-1"
      id="save_name"
      name="name"
      label="name"
      hx-swap="innerhtml"
      hx-trigger="keyup delay:500ms changed"
      hx-post="{% url 'django_comparison_dashboard:save_name' %}"
      hx-target="#save_sucess"
      {# djlint:off #} hx-target-4*="#save_error" {# djlint:on #}
      _="on htmx:afterRequest if event.detail.xhr.status === 200 show #save_sucess hide #save_error remove @disabled from #save_button else show #save_error hide #save_sucess add @disabled to #save_button" />
      <button type="submit" id="save_button" class="btn btn-primary ml-2" disabled>Save Filter Settings</button>
      <div id="save_error" class="alert alert-warning"></div>
      <div id="save_sucess" class="alert alert-success"></div>
    </div>
  </form>
</div>
<!-- contains Charts and Table with Tabbed Interface -->
<div class="col-9">
  <div>
    <button type="button"
            class="btn btn-primary"
            hx-ext="multi-swap"
            hx-get="{% url 'django_comparison_dashboard:render_data' %}"
            hx-include="#scenario_id, #filters, #o_a_label, #graph_options_tab, #display_options_tab"
            hx-swap="multi:#table,#plot">Render chart and table</button>
  </div>
  <div class="card mt-3"
    {# djlint:off #}
       style="margin-top: 0"
    {# djlint:on #}>
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs"
          id="chartTableTab"
          role="tablist">
        <li class="nav-item">
          <a class="nav-link active"
             id="plot-tab"
             data-bs-toggle="tab"
             href="#plot"
             role="tab">Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             id="table-tab"
             data-bs-toggle="tab"
             href="#table"
             role="tab">Table</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="plot" role="tabpanel">
          <div id="plot-content"
            class="mb-3"
            {# djlint:off #}
               style="height: calc(100vh - 250px);overflow-y: auto"
            {# djlint:on #}
            ></div>
        </div>
        <div class="tab-pane fade" id="table" role="tabpanel">
          <div id="table-content"
            {# djlint:off #}
               style="max-height: 300px; overflow-y: auto;"
            {# djlint:on #}
            ></div>
          <!-- Added max-height to decrease table size and allow scrolling -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock content %}
{% block javascript %}
  {{ block.super }}
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/multi-swap.js"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  <script src="{% static "vendors/datatables/dataTables.js" %}"></script>
  <script src="{% static "vendors/json-viewer/jquery.json-viewer.js" %}"></script>
  <script src="{% static "js/tables.js" %}"></script>
{% endblock javascript %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "vendors/datatables/dataTables.css" %}" />
  <link rel="stylesheet" href="{% static "vendors/json-viewer/jquery.json-viewer.css" %}" />
  <style>
    .card-header {
      padding: 0.5rem;
      /* Reduce padding of the card header */
    }

    .tab-pane {
      font-size: 1rem;
    }

    .tab-content {
      font-size: 1rem;
    }
  </style>
{% endblock css %}
{% block inline_javascript %}
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      $('.ui.dropdown').dropdown();
      $('.ui.dropdown.clearable').dropdown({
        "clearable": true
      });
    });
  </script>
{% endblock inline_javascript %}
