{% extends "base.html" %}

{% load partials %}

{% block content %}
  <div class="container">
    <!-- Scenario Selection Forms -->
    <div class="row align-center">
      <p class="lead mb-3 ml-0">Welcome</p>
      <hr />
    </div>
    <!-- Content with Filter / Presentation Tab and Charts -->
    <div class="row align-center">
      <div class="col-4">
        <!-- Load Filter Settings -->
        {% startpartial load_settings inline=True %}
        <form method="get"
              hx-get="{% url 'django_comparison_dashboard:load' %}"
              hx-swap="none"
              class="d-flex">
          <select class="form-control flex-grow-1"
                  id="load_name"
                  name="name"
                  label="name">
            {% for name in name_list %}<option value="{{ name.name }}">{{ name.name }}</option>{% endfor %}
          </select>
          <button type="submit" class="btn btn-primary ml-2">Load Filter Settings</button>
        </form>
      {% endpartial %}
      <!-- contains Filters in different Tabs -->
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active"
                 id="filters-tab"
                 data-bs-toggle="tab"
                 href="#filters">Scenario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 id="o-a-l-tab"
                 data-bs-toggle="tab"
                 href="#o_a_label">Other</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 id="graph-options-tab"
                 data-bs-toggle="tab"
                 href="#graph_options">Graph</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 id="display-options-tab"
                 data-bs-toggle="tab"
                 href="#display_options">Display</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="filters" role="tabpanel">
              <!-- General Filter Selection -->
              <h5 class="card-title">General Filters</h5>
              {% startpartial filters inline=True %}
              {% for scenario in scenarios %}<input type="hidden" name="scenario_id" value="{{ scenario }}" />{% endfor %}
              {{ scenario_filter.form.as_p }}
            {% endpartial %}
          </div>
          <div class="tab-pane" id="o_a_label" role="tabpanel">
            <!-- Order/Aggregation- and Unit Settings -->
            <h5 class="card-title">Order, Aggregation and Label Settings</h5>
            {{ order_aggregation_form.as_p }}
            <hr />
            {{ unit_form.as_p }}
            <hr />
            <!-- Label Settings with adaptable amount of labels -->
            {% startpartial labels inline=True %}
            <div>
              {{ label_form.as_p }}
              <button _="on click remove my.parentElement"
                      class="close btn btn-primary"
                      aria-label="Close">x</button>
            </div>
          {% endpartial %}
          <div id="more_labels"></div>
          <button type="button"
                  class="btn btn-primary"
                  hx-get="{% url 'django_comparison_dashboard:add_label_form' %}"
                  hx-target="#more_labels"
                  hx-swap="beforeend">Add another Label</button>
        </div>
        <div class="tab-pane" id="graph_options" role="tabpanel">
          <!-- General Graph Options -->
          <h5 class="card-title">General Graph Options</h5>
          {% startpartial graph_options inline=True %}
          {{ graph_options_form.as_p }}
          <hr />
          <!-- Color Settings with adaptable amount of colors -->
          {% startpartial colors inline=True %}
          <div>
            {{ color_form.as_p }}
            <button _="on click remove my.parentElement"
                    class="close btn btn-primary"
                    aria-label="Close">x</button>
          </div>
        {% endpartial %}
        <div id="more_colors"></div>
        <button type="button"
                class="btn btn-primary"
                hx-get="{% url 'django_comparison_dashboard:add_color_form' %}"
                hx-target="#more_colors"
                hx-swap="beforeend">Add another Color</button>
      {% endpartial %}
    </div>
    <div class="tab-pane" id="display_options" role="tabpanel">
      <!-- Display Options -->
      <h5 class="card-title">Display Options</h5>
      {{ display_options_form.as_p }}
    </div>
  </div>
</div>
<div class="card-footer d-flex justify-content-between">
  <button type="button"
          class="btn btn-primary"
          hx-get="{% url 'django_comparison_dashboard:data_table' %}"
          hx-include="#scenario_id, #filters, #o_a_label"
          hx-target="#table">Make table</button>
  <button type="button"
          class="btn btn-primary"
          hx-get="{% url 'django_comparison_dashboard:data_plot' %}"
          hx-include="#scenario_id, #filters, #o_a_label, #graph_options, #display_options"
          hx-target="#plot">Make Chart</button>
</div>
</div>
<!-- Save Filter Settings -->
<form method="post"
      id="save_settings"
      hx-swap="innerhtml"
      hx-post="{% url 'django_comparison_dashboard:save' %}"
      hx-include="#filters, #graph_options"
      hx-target="#save_error"
      class="d-flex"
      novalidate
      _="on load hide .alert">
  <div hx-ext='response-targets'>
    <input type="text"
           class="form-control flex-grow-1"
           id="save_name"
           name="name"
           label="name"
           hx-swap="innerhtml"
           hx-trigger="keyup delay:500ms changed"
           hx-post="{% url 'django_comparison_dashboard:save_name' %}"
           hx-target="#save_sucess"
           hx-target-4
           None="#save_error"
           _="on htmx:afterRequest log event.detail.xhr if event.detail.xhr.status === 200 show #save_sucess hide #save_error remove @disabled from #save_button else show #save_error hide #save_sucess add @disabled to #save_button" />
    <button type="submit" id="save_button" class="btn btn-primary ml-2" disabled>Save Filter Settings</button>
    <div id="save_error" class="alert alert-warning"></div>
    <div id="save_sucess" class="alert alert-success"></div>
  </div>
</form>
</div>
<!-- contains Charts and Table -->
<div class="col-8">
  <div id="plot"></div>
  <div id="table"></div>
</div>
</div>
</div>
{% endblock content %}
{% block javascript %}
  {{ block.super }}
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  <script src="https://unpkg.com/htmx.org@1.9.7"></script>
  <script src='https://unpkg.com/htmx.org/dist/ext/response-targets.js'></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
{% endblock javascript %}
